.Graph {
  display: flex;
  justify-content: right;
  margin-right: 2em;
  max-width: 300px;
  max-height: 300px;
}
.GraphContainer {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: rgb(232, 229, 229);
  color: rgb(0, 0, 0);
}
