.Container {
  align-items: start !important;
}

.Avatar {
  padding-top: 10px;
}

.Icon {
  padding-top: 5px;
}

.Text {
  width: 20rem;
  max-width: 20rem;
  word-break: break-word !important;
  padding-right: 1rem;
}