.Container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.FeedbackListContainer {
  width: 70%;
  max-width: 26rem;
  display: flex;
  justify-content: center;
}
